.header_fixed {
    background-color:#0073d9;
    height:60px;
    text-align:center;
    width: 100%;
    margin: auto;
    padding-top: 24px;
}
.brand_container {
    height: 40px;
    width: 130px;
    color: white;
    margin: auto;
}
.search_container {
    display: flex;
    width: 95%;
    height: 49px;
}
.search_controls {
    margin-left: 25%;
    cursor: text;
    width: 45%;
    height: 42px;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 2px solid #ccc;
    float: left;
    font-size: 21px;
}
.search-mask_label {
    height: 42px;
    padding: 8px 0;
    color:#0073d9;
    width: 75px;
    font-size: 15px;
}
.showmore-mask_label {
    padding: 12px 4px;
    color:#0073d9;
    font-size: 15px;
    display: none;
    margin: 0 auto;
}
body {
    margin: 0 auto;
    background-color: #f5f5f5;
    font-family: 'Glyphicons Halflings';
}
.brand__container {
    height:40px;
    margin-top:5px;
    width:130px;
}
.wrap {
    width: 1050px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    background: #f5f5f5;
}
.list_item_new {
    display: flex;
    flex-direction: row;
    margin: 14px 0;
    font-size: 110%;
    overflow: hidden;
    background-color: white;
    border: 2px black;
    box-shadow: #545454;
    box-shadow: 5px 10px #b9b6b6;
}
.item_cover {
    max-width: 265px;
    width: 100%;
    display: inherit;
    overflow: hidden;
    min-height: 242px;
    left: auto;
    margin: 0;
    float:left;
}
.item_content {
    display: inline-table !important;
    width: calc(100% - 500px);
    padding: 15px;
    overflow: hidden;
    height: 212px;
    float: left;
}
.content_title {
    width: 100%;
    line-height: 22px;
    color: #0073d9;
    font-size: 22px;
    font-weight: 750;
}
.content_title:hover {
    color: lightskyblue;
    text-decoration-line: underline;
}
.content_keywords {
    max-width: 70%;
    margin-top: 10px;
    color:#545454;
    overflow: hidden;
}
.item_info {
    display: table-cell;
    float: left;
    position: relative;
    width: 205px;
    background-color:#f5faff;
    padding-left: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.emptystar {
    display: block;
    height: 44px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    flex-direction: row;
}
/* Modal Content/Box */
.modal-content {
    background-color: white;
    padding: 0px 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 99;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.favorite_box {
    margin-left: 150px;
}
.favorite_button_box {
    width:205px;
    display: flex;
}
.star {
    display: block;
    height: 44px;
}
.favorite_text {
    line-height: 44px;
    text-align: center;
    width: 150px;
    display: inline-block;
}
.modal_item_new {
    display: flex;
    flex-direction: row;
    font-size: 110%;
    overflow: hidden;
    background-color: white;
    margin: 7px 0px;
    border: 2px solid rgba(86, 88, 88, 0.5);
}
.modal_content_favorite {
    background-color: white;
    padding: 0px 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    left: 8%;
    top: 12%;
}
.info_paragraph {
    line-height: 32px;
}
.info_link {
    position: absolute;
    bottom: 3%;
    left: 5%;
}
.unknown_request {
    font-size: 24px;
    font-family: Verdana;
    margin-top: 20px;
    text-align: center;
}